# Visual Studio related files and build artifacts
.vs/
*.suo
*.user
*.aps
*.bsc
*.ilk
*.log
*.lib
*.obj
*.pdb
*.res
*.pch
*.exp
*.idb
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.vcproj.*.filters
*.vcxproj.user
*.vcxproj.*.user
*.ipch
*.nitf
*.log
*.aps
*.suo
*.opensdf
*.sdf
ipch/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.[Cc]odeAnalysisLog.xml
*.xml
*.lastbuildstate
*.vcpc_guid
packages/